In [51]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import math

In [52]:
df = pd.read_csv("forestfires.csv", sep=",")
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [53]:
#month
df.loc[df.month == "jan",'month'] = 1
df.loc[df.month == "feb",'month'] = 2
df.loc[df.month == "mar",'month'] = 3
df.loc[df.month == "apr",'month'] = 4
df.loc[df.month == "may",'month'] = 5
df.loc[df.month == "jun",'month'] = 6
df.loc[df.month == "jul",'month'] = 7
df.loc[df.month == "aug",'month'] = 8
df.loc[df.month == "sep",'month'] = 9
df.loc[df.month == "oct",'month'] = 10
df.loc[df.month == "nov",'month'] = 11
df.loc[df.month == "dec",'month'] = 12

#day
df.loc[df.day == "mon",'day'] = 1
df.loc[df.day == "tue",'day'] = 2
df.loc[df.day == "wed",'day'] = 3
df.loc[df.day == "thu",'day'] = 4
df.loc[df.day == "fri",'day'] = 5
df.loc[df.day == "sat",'day'] = 6
df.loc[df.day == "sun",'day'] = 7

df

     X  Y month day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5     3   5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4    10   2  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4    10   6  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6     3   5  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6     3   7  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ..   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3     8   7  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4     8   7  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4     8   7  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4     8   6  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3    11   2  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [54]:
#crindo colunas para seno e cosseno
df.insert(4,"SinMonth", 0)
df.insert(5,"CosMonth", 0) 

df.insert(6,"SinDay", 0)
df.insert(7,"CosDay", 0) 

df

,X,Y,month,day,SinMonth,CosMonth,SinDay,CosDay,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,3,5,0,0,0,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
1,7,4,10,2,0,0,0,0,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00
2,7,4,10,6,0,0,0,0,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00
3,8,6,3,5,0,0,0,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00
4,8,6,3,7,0,0,0,0,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,8,7,0,0,0,0,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
513,2,4,8,7,0,0,0,0,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
514,7,4,8,7,0,0,0,0,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
515,1,4,8,6,0,0,0,0,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00
516,6,3,11,2,0,0,0,0,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00

In [55]:
import math

pi = math.pi
doisPi = pi * 2

for i in range(df.month.size):
    
    #month
    df.SinMonth[i] = np.sin((doisPi * (int(df.month[i])/12)))
    df.CosMonth[i] = np.cos((doisPi * (int(df.month[i])/12)))

for i in range(df.day.size):
    #day
    df.SinDay[i] = np.sin((doisPi * (int(df.day[i])/7)))
    df.CosDay[i] = np.cos((doisPi * (int(df.day[i])/7)))

df

/tmp/ipykernel_5109/3921347939.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.SinMonth[i] = np.sin((doisPi * (int(df.month[i])/12)))
/tmp/ipykernel_5109/3921347939.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.CosMonth[i] = np.cos((doisPi * (int(df.month[i])/12)))
/tmp/ipykernel_5109/3921347939.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.SinDay[i] = np.sin((doisPi * (int(df.day[i])/7)))
/tmp/ipykernel_5109/3921347939.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.CosDay[i] = np.cos((doisPi * (int(df.day[i])/7)))

,X,Y,month,day,SinMonth,CosMonth,SinDay,CosDay,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,3,5,1,0,0,0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.00
1,7,4,10,2,0,0,0,0,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.00
2,7,4,10,6,0,0,0,0,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.00
3,8,6,3,5,1,0,0,0,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.00
4,8,6,3,7,1,0,0,1,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,8,7,0,0,0,1,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44
513,2,4,8,7,0,0,0,1,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29
514,7,4,8,7,0,0,0,1,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16
515,1,4,8,6,0,0,0,0,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0.00
516,6,3,11,2,0,0,0,0,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0.00